<div class="mt-2 mb-4 row">
  <div class="col-md-12">
    <span class="float-left d-inline mr-1">Chemin courant :</span>
    <span class="float-left d-inline">{{ path }}</span>
  </div>
  <div class="col-md-8 offset-md-2">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <h5><label for="username">Identifiant</label></h5>
        <input type="text" id="username" class="form-control mb-2" name="username" ngModel required>
        <h5><label for="password">Mot de passe</label></h5>
        <input type="password" id="password" class="form-control mb-2" name="password" ngModel required>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="action" value="Pull" [(ngModel)]="action">Pull
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="action" value="Push" [(ngModel)]="action">Push
        </label>
      </div>
      <button class="btn btn-dark float-right" type="submit" [disabled]="f.invalid"> {{ action }} </button>
    </form>
  </div>
</div>