<div class="mt-2 mb-4 row">
  <div class="col-md-12">
    <span class="float-left d-inline mr-1">Chemin courant :</span>
    <span class="float-left d-inline">{{ path }}</span>
  </div>
  <div class="col-md-8 offset-md-2">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <h5><label for="username">Identifiant</label></h5>
        <input type="text" id="username" class="form-control mb-2" name="username" ngModel required>
        <h5><label for="password">Mot de passe</label></h5>
        <input type="password" id="password" class="form-control mb-2" name="password" ngModel required>
        <h5><label for="url">URL</label></h5>
        <input type="url" id="url" class="form-control mb-2" name="url" ngModel required>
        <h5><label for="destination">Destination</label></h5>
        <input type="destination" id="destination" class="form-control col-md-9 mb-2 d-inline" name="destination" [(ngModel)]="destination" required>
        <button type="button" class="btn btn-dark offset-md-1 col-md-2 d-inline" (click)="browse()">Parcourir</button>
      </div>
      <button class="btn btn-dark float-right" type="submit" [disabled]="f.invalid"> Cloner </button>
    </form>
  </div>
</div>
