<div class="mt-2 mb-4 row">
  <div class="col-md-8">
    <span class="float-left d-inline mr-1">Chemin courant :</span>
    <span class="float-left d-inline">{{ path }}</span>
  </div>
  <div class="offset-md-2 col-md-2">
      <button class="btn btn-dark float-right" type="submit" (click)="getLog()">Afficher le graphe</button>
  </div>
  <div [innerHTML]="graph"></div>
</div>
